*.exe
*.exe~
*.dll
*.so
*.dylib


/bin/
/build/
/dist/

/vendor/

*.test
*.out
*.prof
cover.out
profile.out
c.out
*test.run

.vscode/
.idea/
*.swp
*~

*.sublime-project
*.sublime-workspace

.DS_Store
._*
.Spotlight-V100
.Trashes
# Windows
Thumbs.db
desktop.ini

.env
.env.*
!.env.exampl